$bgColorWhite = white     //背景色     白
$pageThemeColor = #258FED //页面主题色(背景)      随颜色版本变化
$borderThemeColor = #258FED //页面主题色(边框)      随颜色版本变化
$bgColorGray = #F5F5F5    //页面底色(背景)  灰

$themeTextColor = #258FED     //版本主题字体颜色    随颜色版本变化
$derkTextColor = #333     //标准字体颜色    黑
$somberTextColor = #363636//偏淡的字体色    浅黑
$hintTextColor = #bbb     //文本框placeholder颜色    浅灰

$fontSizeNorm = .28rem    //标准字体大小

$headerHeight = .88rem    //头部通用高度
$maxDevice = 750px        //页面最大宽度

$normElDest = .34rem       //通用元素边距
